<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>

        <%
            // Slugify component names, for anchor links
            function slugify(text) {
                return text.toString().toLowerCase()
                    .replace(/\s+/g, '-')
                    .replace(/[^\w\-]+/g, '')
                    .replace(/\-\-+/g, '-')
                    .replace(/^-+/, '')
                    .replace(/-+$/, '');
            }

            // Replace space tokens
            function replaceTokens(text) {
                return text.replace(/---]/g, '    ');
            }

            // Break optionalClasses into array
            function splitArrayString(text) {
                return text.split(',');
            }
        %>

        <!-- Fixed sidebar -->
        <aside class="gds-layout__column--xl-2 gds-layout__column--lg-3 gds-layout__hidden-md-down -p-h-0" style="position: fixed; height: calc(100% - 55px); top: 55px; overflow-y: scroll;">
            <div class="gds-accordion" style="box-shadow: none;" data-gds-accordion>
                <ul class="gds-accordion-list">
                    <% Object.keys(sections).map((section) => { %>
                        <li class="gds-accordion__item" data-gds-accordion-item>
                            <h4 class="gds-accordion__item-title gds-accordion__item-title--sm" data-gds-accordion-title><%= section %></h4>
                            <i class="gds-accordion__item-icon gds-accordion__item-icon--sm"></i>
                            <ul class="gds-accordion__child-items gds-accordion__child-items--sm">
                                <% Object.keys(sections[section]).map((component) => { %>
                                    <li class="gds-accordion__child-item gds-accordion__item" data-gds-accordion-item>
                                        <a href='#<%= slugify(component) %>'>
                                            <h4 class="gds-accordion__child-item-title gds-accordion__item-title gds-accordion__item-title--sm" data-gds-accordion-title><%= component %></h4>
                                        </a>
                                        <% if (sections[section][component].children) { %>
                                            <i class="gds-accordion__child-item-icon gds-accordion__item-icon--sm gds-accordion__item-icon"></i>
                                            <ul class="gds-accordion__child-items">
                                                <% Object.keys(sections[section][component].children).map((childComponent) => { %>
                                                    <li class="gds-accordion__child-item">
                                                        <a href='#<%= slugify(`${component} ${childComponent}`) %>'>
                                                            <h4 class="gds-accordion__child-item-title gds-accordion__item-title--sm"><%= childComponent %></h4>
                                                        </a>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                        <% } %>
                                    </li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </aside>

        <!-- Main content section -->
        <main>
            <div class="gds-layout__column--xl-10 gds-layout__column--xl-push-2 gds-layout__column--lg-9 gds-layout__column--lg-push-3 gds-layout__column--md-12 -p-h-3 -p-b-3" style="margin-top: calc(55px - 1rem);">
                <% Object.keys(sections).map((section) => { %>
                    <h1 class="gds-text--header-md -m-t-4 -m-b-3"><%= section %></h1>
                    <% Object.keys(sections[section]).map((component) => { %>
                        <div id='<%= slugify(component) %>' class="anchor"></div>
                        <div class="gds-card -m-b-3">
                            <div class="gds-card__block -p-a-3">
                                <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-a-0">Name</label>
                                <h3 class="gds-text--header-sm gds-text--primary -m-b-2"><%= component %></h3>

                                <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-a-0">Description</label>
                                <p><%- sections[section][component].description %></p>

                                <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-t-3 -m-l-0 -m-b-0">Author</label>
                                <p><%- sections[section][component].author %></p>

                                <!-- If this component has a tabTrigger, show it -->
                                <% if (sections[section][component].tabTrigger !== '') { %>
                                    <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-t-3 -m-l-0 -m-b-0">Autocomplete Trigger</label>
                                    <p class="-m-b-1"><span class="gds-text--keyboard gds-text--body-sm"><%- sections[section][component].tabTrigger %></span></p>
                                <% } %>

                                <!-- If this component should render example markup -->
                                <% if (sections[section][component].renderMarkup === 'true') { %>
                                    <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-t-3 -m-h-0 -m-b-0">Rendered Example</label>
                                    <div class="-m-v-3">
                                        <%- replaceTokens(sections[section][component].example) %>
                                    </div>
                                <% } %>

                                <!-- Optional classes -->
                                <% if (sections[section][component].optionalClasses !== '') { %>
                                    <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-t-3 -m-l-0 -m-b-0">Options</label>
                                    <% splitArrayString(sections[section][component].optionalClasses).map((className) => { %>
                                        <p><span class="gds-text--code gds-text--body-sm"><%= className %></span></p>
                                    <% }) %>
                                <% } %>
                            </div>
                            <div class="-color-bg-dk-2">
                                <label class="gds-form-group__label -text-tr-up -color-tx-dk-4 -m-t-3 -m-l-3 -m-b-0 -p-l-2">Code Sample</label>
<pre class="language-html"><code><%= replaceTokens(sections[section][component].example) %></code></pre>
                            </div>
                        </div>
                        <% if (sections[section][component].children) { %>
                            <% Object.keys(sections[section][component].children).map((childComponent) => { %>
                                <div id='<%= slugify(`${component} ${childComponent}`) %>' class="anchor"></div>
                                <div class="gds-card -m-b-3">
                                    <div class="gds-card__block -p-a-3">
                                        <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-a-0">Name</label>
                                        <h3 class="gds-text--header-sm gds-text--primary -m-b-2"><%= childComponent %></h3>

                                        <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-a-0">Description</label>
                                        <p><%- sections[section][component].children[childComponent].description %></p>

                                        <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-t-3 -m-l-0 -m-b-0">Author</label>
                                        <p><%- sections[section][component].author %></p>

                                        <!-- If this component has a tabTrigger, show it -->
                                        <% if (sections[section][component].children[childComponent].tabTrigger !== '') { %>
                                            <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-t-3 -m-l-0 -m-b-0">Autocomplete Trigger</label>
                                            <p class="-m-b-1"><span class="gds-text--keyboard gds-text--body-sm"><%- sections[section][component].children[childComponent].tabTrigger %></span></p>
                                        <% } %>

                                        <!-- If this component should render example markup -->
                                        <% if (sections[section][component].children[childComponent].renderMarkup === 'true') { %>
                                            <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-t-3 -m-h-0 -m-b-0">Rendered Example</label>
                                            <div class="-m-v-3">
                                                <%- replaceTokens(sections[section][component].children[childComponent].example) %>
                                            </div>
                                        <% } %>

                                        <!-- Optional classes -->
                                        <% if (sections[section][component].children[childComponent].optionalClasses !== '') { %>
                                            <label class="gds-form-group__label -text-tr-up -color-tx-lt-2 -m-t-3 -m-l-0 -m-b-0">Options</label>
                                            <% splitArrayString(sections[section][component].children[childComponent].optionalClasses).map((className) => { %>
                                                <p><span class="gds-text--code gds-text--body-sm"><%= className %></span></p>
                                            <% }) %>
                                        <% } %>
                                    </div>
                                    <div class="-color-bg-dk-2">
                                        <label class="gds-form-group__label -text-tr-up -color-tx-dk-4 -m-t-3 -m-l-3 -m-b-0 -p-l-2">Code Sample</label>
<pre class="language-html"><code><%= replaceTokens(sections[section][component].children[childComponent].example) %></code></pre>
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>
                    <% }) %>
                <% }) %>
            </div>
        </main>

        <% include ../partials/footer %>
    </body>
</html>
